<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="../styles/Cart.css" />

    <!-- vendors -->

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Fonteawesome -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css"
    />
</head>
<body>
    <div id="navbar"></div>
    <h1 id="title">My Bag</h1>
    <main id="cart-container">
        <div id="notify-box"></div>
        <div id="cart-items"></div>
        
       
    </main>
    
</body>
<script type="module" src="../script/Cart.js"></script>
</html>