<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="../styles/Contact-Us.css" />

    <!-- vendors -->

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Fonteawesome -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css"
    />
    
  </head>
  <body>
    <div id="navbar"></div>
    <main>
      <!-- Intro Section -->
      <section class="intro-section ">
        <div class="container">
          <h1>Get In Touch</h1>
          <p>
            We are dedicated to providing the best service possible. Feel free
            to reach out to us with any questions or concerns you may have.
            We're here to help you!
          </p>
        </div>
        <div class="social-netw">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-google"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </section>

      <section class="contact-form">
        <div class="title-div">
          <h1>Let's level up your brand, together</h1>
          <p>You can reach us anytime via</p>
          <span><i class="fa-regular fa-envelope"></i></span>
          <a href="mailto:example@gmail.com">example@gmail.com</a>
        </div>

        <div class="form-div">
          <form id="comment-form">
            <!-- Name -->
            <div class="input-div">
              <input
                type="text"
                class="form-control"
                id="floatingName"
                placeholder="Your name"
              />
              <label for="floatingName">Your name</label>
            </div>
            <!-- Email -->
            <div class="input-div">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email address</label>
            </div>
            <!-- Number -->
            <div class="input-div">
              <input
                type="text"
                class="form-control"
                id="floatingNumber"
                placeholder="Phone number"
              />
              <label for="floatingNumber">Phone number</label>
            </div>
            <!-- Message -->
            <div class="input-div">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
              ></textarea>
              <label for="floatingTextarea2">Message</label>
            </div>
            <!-- Button -->
            <button type="submit">Send a message</button>
          </form>
        </div>
      </section>

      <!-- Contact info START -->
      <section class="contact-info">
        <div class="card">
          <i class="fa-solid fa-building"></i>
          <h6>Office Address</h6>
          <address class="mb-0">
            1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548.
          </address>
        </div>

        <!-- Email info -->
        <div class="card">
          <i class="fa-regular fa-envelope"></i>
          <h6>Email us</h6>
          <p>
            We're on top of things and aim to respond to all inquiries within 24
            hours.
          </p>
          <a href="mailto:example@gmail.com">example@gmail.com</a>
        </div>

        <!-- Contact info -->
        <div class="card">
          <i class="fa-solid fa-phone"></i>
          <h6>Call us</h6>
          <p>Let's work together towards a common goal - get in touch!</p>
          <a href="tel:+12518546308">(251) 854-6308</a>
        </div>
      </section>
      <!-- Contact info END -->
    </main>
    <div id="footer"></div>
    <script src="../script/Contact-us.js"></script>
    
  </body>
</html>
