<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="../styles/FAQ.css" />

    <!-- vendors -->

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Fonteawesome -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div id="navbar"></div>

    <main>
      <h1>Frequently Asked Questions (FAQ)</h1>

      <article id="faq-container">
        <div class="title">
          <h5>How do I place an order?</h5>
          <i class="fa-solid fa-plus open-close"></i>
        </div>

        <p class="content">
          To place an order, simply browse our products, add the items you wish
          to purchase to your cart, and proceed to checkout. You will be guided
          through the payment process step-by-step.
        </p>

        <div class="title">
          <h5>How can I contact customer support?</h5>
          <i class="fa-solid fa-plus open-close"></i>
        </div>

        <p class="content">
          You can contact our customer support team through the "Contact Us"
          page, via email at support@ecommerce.com, or by calling +1 234 567
          890.
        </p>

        <div class="title">
          <h5>why to use this service?</h5>
          <i class="fa-solid fa-plus open-close"></i>
        </div>
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet
          repellat nostrum temporibus asperiores animi! Nam illum numquam modi
          quis praesentium vero, at voluptate ullam ea dolore, similique iste
          suscipit.
        </p>

        <div class="title">
          <h5>How can I update my account information?</h5>
          <i class="fa-solid fa-plus open-close"></i>
        </div>
        <p class="content">
          To update your account information, log in to your account and go to the "Edit Profile" section. Here you can update your personal details, address information.
        </p>

        <div class="title">
          <h5>What shipping method does Zyla use?</h5>
          <i class="fa-solid fa-plus open-close"></i>
        </div>
        <p class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit architecto soluta, minima eius nihil est quod ad rerum saepe libero. Nihil hic ipsa ea quisquam natus assumenda alias. Dignissimos, sint.
        </p>
        <div class="title">
          <h5>Are my payment details secure?</h5>
          <i class="fa-solid fa-plus open-close"></i>
        </div>
        <p class="content">
          Yes, we use secure encryption to protect your payment details. Your information is transmitted securely and is not stored on our servers.
        </p>

        <div class="title">
          <h5>Can I save items in my cart for later?</h5>
          <i class="fa-solid fa-plus open-close"></i>
        </div>
        <p class="content">
          Yes, you can save items in your cart for later. Your cart will be saved even if you log out and log back in, allowing you to complete your purchase at a later time.
        </p>
      
        <div class="title">
          <h5>How can I leave a review for a product?</h5>
          <i class="fa-solid fa-plus open-close"></i>
        </div>
        <p class="content">
          To leave a review, go to the product page and scroll down to the reviews section. Click on "Write a review" and submit your feedback. We appreciate your input!
        </p>
      </article>
    </main>
    <footer>
      <p>&copy; 2024 E-commerce Website. All rights reserved.</p>
    </footer>
  </body>

  <script src="../script/FAQ.js"></script>
</html>
