<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="../styles/Orders.css" />

    <!-- vendors -->

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Fonteawesome -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div id="nav-placeholder"></div>
    <main>
      <h1>Your Orders</h1>
      <div class="buttons-container">
        <button id="orders-btn" >Orders</button>
        <button id="order-history-btn">Order History</button>
    </div>
      
      <div id="orders-container"></div>
    </main>
  </body>
  <script src="../script/Orders.js"></script>
</html>
